<h1>olá, você está na página de home</h1>

<form action="/acess/user" method="POST">
    <h3>Digite o nome da sua conta</h3>
    <input type="text" name="user">
    <input type="submit" value="acessar usuário">
</form>