<p>Olá, meu nome é {{valores.nome}}, eu tenho {{valores.idade}}, veja um pouco sobre a minha biografia</p>

<h2>Minha biografia</h2>
<p>{{valores.biografia}}</p>

<h2>Conheça um pouco dos meus hobbies</h2>

<p>{{valores.hobbies}}</p>
<a href="/perfil/editar">EDITAR INFORMAÇÕES</a>