<p>Olá, meu nome é {{valores.nome}}, eu tenho {{valores.idade}}, veja um pouco sobre a minha biografia</p>

<h2>Minha biografia</h2>
<p>{{valores.biografia}}</p>

<p>Conheça um pouco dos meus hobbies</p>

{{valores.hobbies}}
